@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Open+Sans&family=Quicksand:wght@500&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.numbers {
  width: 50%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-auto-rows: minmax(250px, auto);
}

.numbers .confirmed,
.recovered,
.deaths {
  border: 1px solid #c4c4c4;
  box-shadow: 0px 0px 15px 5px #c4c4c4;
  margin: 10px;
}

.numbers .confirmed {
  border-bottom: 20px solid #7f9edb;
}

.numbers .recovered {
  border-bottom: 20px solid #7fdb98;
}

.numbers .deaths {
  border-bottom: 20px solid #db7f7f;
}

h1 {
  font-size: 50px;
  color: grey;
}

.numbers .content {
  text-align: center;
}

.numbers .content h4 {
  font-size: 19px;
  color: gray;
}

.numbers .content p {
  font-size: 35px;
  color: black !important;
}

.numbers .content #date {
  color: grey;
}
